.Rproj.user
.Rhistory
.RData
.Ruserdata

inside
outside

# ADMB standard output files
*.b0*
*.bar
*.cor
*.cov
*.dep
*.ecm
*.eva
gradient.*
*.hes
*.log
*.mc2
*.mcm
*.p0*
*.psv
*.hst
*.par
*.rep
*.r0*
*.std
*.tmp
*_in.ctl
*_in.dat
eigv.rpt
variance
sims
